/* *, *::before, *::after {
    box-sizing: border-box;
} */

:root {
    --color-std: blue;
    --color-correct: green;
    --color-incorrect: red;
}

body {
    background-color: var(--color-std);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1000vw;
}

body.correct {
    background-color: var(--color-correct);
}

body.incorrect {
    background-color: var(--color-incorrect);
}